@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@font-face {
  font-family: 'nextart';
  src: url('/nextart/NEXT ART_Regular.otf') format('opentype');
  font-weight: 100; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nextart';
  src: url('/nextart/NEXT ART_Bold.otf') format('opentype');
  font-weight: 200; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nextart';
  src: url('/nextart/NEXT ART_Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nextart';
  src: url('/nextart/NEXT ART_Heavy.otf') format('opentype');
  font-weight: 400; /* Light */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nextart';
  src: url('/nextart/NEXT ART_SemiBold.otf') format('opentype');
  font-weight: 500; /* Light */
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');