main {

  scroll-snap-align: center;
  
  .container {
    flex-direction: column;
    justify-content: flex-end;
  }
  h1{
    font-family: 'nextart';
    font-weight: 200;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FDFDFD;
    margin: 0;
    margin-bottom: 50px;
  }

}