@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
*
  padding: 0
  margin: 0
  
  a
    color: black
    text-decoration: none

  body
    box-sizing: content-box
    display: flex
    justify-content: center
    font-family: 'Inter'
    color: #1A202C

    .container-body
      width: 1440px
      height: 30000px
      position: relative
      overflow: hidden
      
      @import './components/nav'

      section
        width: 100%
        display: flex
        justify-content: center
        position: relative
        
        @import './components/section/_title'
        @import './components/section/_service'
        @import './components/section/_information'

        &::before
          position: absolute
          background: linear-gradient(-45deg, #F76680, #57007B)
          width: 72px
          height: 72px
          transform: translateY(-50%)
          border-radius: 50%
        &::after
          position: absolute
          background: linear-gradient(-45deg, #F76680, #57007B)
          width: 72px
          height: 72px
          transform: translateY(50%)
          border-radius: 50%
          z-index: 0

        &:has(.services) 
          &::before
            content: ''
            left: 483px
            top: 0
          &::after
            content: ''
            left: 105px
            bottom: 0

        &:has(.logo-list)
          &::before
            content: ''
            left: 815px
            top: 0
        

        .logo-list
          background: #F7F7FA
          border: 1px solid #E7DAED
          height: 202px
          width: 100%
          border-left: 0
          border-right: 0
          align-items: center
          display: flex
          z-index: 1
          
          .carusel-track
            will-change: transform
            position: absolute
            right: 0
            gap: 54px
            display: flex


            animation: scrolling 15s linear infinite

            @keyframes scrolling
              0%
                transform: none
              100%
                transform: translateX(calc(50% + 27px))
                

      




