header {
  padding: 16px 0;
  color: #FDFDFD;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  animation-name: header-not-main;
  animation-timing-function: linear;
  animation-timeline: --root-scroll;
  animation-fill-mode: both;
  animation-range: 0vh 100vh;

  z-index: 100;


  a {
    position: relative;
    color: #FDFDFD;

    &::before{
      content: '';
      position: absolute;
      height: 1px;
      width: 0;
      background-color: var(--second-color);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width .3s ease-in-out;
    }

    &:hover{
      color: var(--second-color);
      &::before{
        
        width: 110%;
      }
    }
  }

  .container{
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: max-content;
    fill: #fff;
  }
}

@keyframes header-not-main {
  to {
    background: #1b1919;
    box-shadow: 0 10px 4px #1b191950;
  }
}

  